/* ----------- NJPOB2017 style sheet  by Evelio Velez July 2017 --------- */


/* For trouble shooting purposes */
.blk{ color: #000; }
.red{ color: red; }
.blue{ color: blue; }
.green{ color: green; }

.bkg{
    background-color: yellow;
}

.show_border{
  border: 1px red solid;
}

.no_padding{
  padding: 0px;
}

.font-smaller{
    font-size: 90%;
}

.has-feedback .form-control-feedback {
    top: 0px;
    right: 12px;
}
.section_header{
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px #ccc solid;
}

input[readonly]{
  background-color:transparent;
  border: transparent;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

/* For trouble shooting purposes */


/* ----------------------------- */
/* --Begin: html_head.php        */
/* ----------------------------- */

    #menu-mess-header {
      display: block;
      border-bottom:1px solid #bbbcbc;
      color:#1762b3;
      padding:6px 0px 3px 12px;
      margin-bottom: 5px;
      text-align: left;
      font-size: 20px;

    }


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
/* ----------------------------- */
/* --End: html_head.php          */
/* ----------------------------- */


/* ----------------------------- */
/* --Begin: Become-A-Member / Membership-Law-Enforcement  */
/* ----------------------------- */
.wizard {
    margin: 10px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        /*margin: 40px auto;*/

        margin-bottom: 0;
        border-bottom-color: #fff;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }



.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    /*border-bottom-color: transparent;*/
}

span.round-tab {
  /*if any change adjust wizard .nav-tabs > li a*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
   /* if any change adjust span also */
    width: 40px;
    height: 40px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:20px;
    margin-top: -50px;
}
.step33 {
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
}


@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/* pricing panels */
.pricing-table-1 {
    max-width: 400px;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}


.pricing-table {
    max-width: 600px;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}

.panel-heading-landing {
    background: #337AB7 !important; 
    padding: 15px !important; 
    border-top-left-radius: 5px !important;  
    border-top-right-radius: 5px !important; 
    border: solid 2px #337AB7 !important; 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: #5CB85C !important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #5CB85C !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 2px #ccc !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    border: solid 2px #ccc !important; 
    border-bottom-left-radius: 5px !important; 
    border-bottom-right-radius: 5px !important; 
    border-top: none !important;
}

/* Added 07-21-17 Evelio */
.panel_ul{
  font-size: 1.1em;
  color: #000; "
}

.panel_li_spans{
  font-weight: normal;
  color: blue;
}

.blue_box {
  padding: 0px 5px;
  text-align: center;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;  
}

.blue-box-div {
  border-top-left-radius: 5px !important;  
  border-top-right-radius: 5px !important;     
  border-bottom-left-radius: 5px !important;  
  border-bottom-right-radius: 5px !important;   
  padding: 20px;
  background-color:#337AB7;
  margin-bottom: 20px; 
}

/* ----------------------------- */
/* --End: Become-A-Member.php    */
/* ----------------------------- */

/* --------------------------------- */
/* --Begin: site_users/update_user  */
/* -------------------------------- */

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
         border-width: 1; }

    .nav-clr > li > a { border: none; color: #ffffff; background: #578EBE; }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
           border: none;
           color: #5a4080 !important;
           background: #ccc; }

        .nav-tabs > li > a::after { content: ""; background: #5a4080; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }

.tab-nav > li > a::after { background: ##5a4080 none repeat scroll 0% 0%; color: #fff; }

.tab-pane { padding: 5px 0; }

.tab-content{ padding:20px; }

/*.nav-tabs > li  {width:20%; text-align:center;}*/

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

/*body{ background: #EDECEC; padding:50px}*/

@media all and (max-width:724px){
.nav-tabs > li > a > span {display:none;} 
.nav-tabs > li > a {padding: 5px 5px;}
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.tab-button{ margin-bottom: 5px; width: 150px; }

